header{
  height: 50px;
  line-height: 50px;
  background: dodgerblue;
  color: white;
}
footer{
  height: 30px;
  line-height: 30px;
  background: dodgerblue;
  color: white;
  font-size: 7pt;
}
section{
  height: calc(100% - 80px);
  overflow: auto;
}
header .logo{
  font-size: 12pt;
  font-weight: bold;
  margin-left: 10px;
}
section .content{
  padding: 25px;
}
section .content .grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
section .content .grid label{
  display: block;
  font-weight: bold;
}
section .content .grid input, select{
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
section .content .grid p, section .content .terms p{
  color: red;
}
section .content .terms{
  display: block;
  height: 30px;
  line-height: 30px;
}
section .content .submission{
  display: block;
  margin-top: 10px;
}
section .content .submission button{
  padding: 5px;
  background: dodgerblue;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
section .content .submission button:hover{
  background: blue;
}
